<p id="notice"><%= notice %></p>

<div class="p-3 mb-2 bg-primary text-white">
  <strong>N<%= t ("name") %>:</strong>
  <%= @post.name %>
</div>

<div class="p-3 mb-2 bg-success text-white">
  <strong><%=t ("status") %>:</strong>
  <%= @post.status %>
</div>
<div class="p-3 mb-2 bg-success text-white">
  <strong><%=t ("picture")%>:</strong>
  <%= image_tag @post.picture.url if @post.picture? %>
</div>
