<%= form_with(model: [:admin,@product,variant], local: true) do |form| %>
<div class=" row  p-5">
  <% if variant.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(variant.errors.count, "error") %> prohibited this product from being saved:</h2>

    <ul>
      <% variant.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="pt-5 col 5">
        <%unless variant.pictures.blank? %>
        <%variant.pictures.each do |p| %>
          <%=image_tag p.url%>
        <% end %>
        <% end %>
    <%= form.file_field :pictures, multiple: true ,:class =>"p-2"%>
  </div>

<div class="col-7">
  <div class="field">
    <%= form.label :sku %>
    <%= form.text_field :sku %>
    
  </div>
  <div class="field">
    <%= form.label :cost_price %>
    <%= form.text_field :cost_price %>
  </div>

  <div class="field">
    <%= form.label :size %>
    <%= form.text_field :size %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_area :color %>
  </div>
</div>
<div class="actions w-100 text-center">
    <%= form.submit %>
  </div>
</div>
  <% end %>