
<div class = "d-flex  form_search">
<%= search_form_for [:admin,@search], class: "form-inline" do |f| %>
	<div class="form-group">
        <%= f.text_field :name_cont, class: "form-control" %><br>
    </div> <!-- Tìm kiếm theo name có chứa ... -->
    <%= f.submit 'Search', class: "btn btn-default" %>
<% end %>
<%= link_to 'New Product', new_admin_product_path,class: "btn btn-success text-white" ,id:"new_product"  %>
</div>
<table class="table table-bordered table-dark">
  <thead>
    <tr>
      <th scope="col"><%=t ("name") %></th>
      <th scope="col"><%=t ("sku") %></th>
      <th scope="col"><%=t ("description") %></th>
      <th scope="col"><%=t ("meta_description") %></th>
      <th scope="col"><%=t ("meta_keywords") %></th>
      <th scope="col"><%=t ("taxons") %></th>
      <th scope="col"><%=t ("picture") %></th>
      <th colspan="3"><%=t ("actions") %></th>
    </tr>
  </thead>

  <tbody class = "product_table">
  <%= paginate @products, theme: 'twitter-bootstrap-3' %>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.name,edit_admin_product_path(product) %></td>
        <td><%= product.sku %></td>
        <td class ="name"><%= product.description %></td>
        <td class ="name"><%= product.meta_description %></td>
        <td><%= product.meta_keywords %></td>
        <td><%= product.taxons.pluck(:name).join(', ')  if product.taxons.present? %></td>
        <td >
        <%if product.pictures? %>
        <div class = "row">
        <%product.pictures.first(6).each do |p| %>
        <%= image_tag p.url ,class: 'list_image col-lg-2 col-3 mb-4'%>
        <% end %>
         </div>
        <% end %>
        </td>
        <td><%= link_to '<i class="far fa-trash-alt"></i> Destroy'.html_safe, admin_product_path(product), method: :delete, data: { confirm: 'Are you sure?' },:class  => "btn btn-danger text-white" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<h3>Import Product</h3>
 <%= form_tag admin_csv_create_product_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Upload Post" %>
<% end %>

<%# <%= link_to 'New Product', new_admin_product_path %> 
