
<p id="notice"><%= notice %></p>
<%= search_form_for [:admin,@search], class: "form-inline" do |f| %>
	<div class="form-group">
        <%= f.text_field :name_cont, class: "form-control" %><br>
    </div> <!-- Tìm kiếm theo name có chứa ... -->
    <%= f.submit 'Search', class: "btn btn-default" %>
<% end %>
<table class="table table-bordered table-dark">
  <thead>
    <tr>
      <th scope="col"><%=t ("name") %></th>
      <th scope="col"><%=t ("sku") %></th>
      <th scope="col"><%=t ("description") %></th>
      <th scope="col"><%=t ("meta_description") %></th>
      <th scope="col"><%=t ("meta_keywords") %></th>
      <th scope="col"><%=t ("picture") %></th>
      <th colspan="3"><%=t ("actions") %></th>
    </tr>
  </thead>

  <tbody>
  <%= paginate @products, theme: 'twitter-bootstrap-3' %>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.name,admin_product_path(product) %></td>
        <td><%= product.sku %></td>
        <td><%= product.description %></td>
        <td><%= product.meta_description %></td>
        <td><%= product.meta_keywords %></td>
        <td >
        <%if product.pictures? %>
        <%product.pictures.each do |p| %>
        <%= image_tag p.url ,class: 'list_image'%>
        <% end %>
        <% end %>
        </td>
        <td><%= link_to 'Edit', edit_admin_product_path(product) %></td>
        <td><%= button_to 'Destroy', admin_product_path(product), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>
<h3>Import Product</h3>
 <%= form_tag admin_csv_create_product_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Upload Post" %>
<% end %>

<%# <%= link_to 'New Product', new_admin_product_path %> 
