<div class="row p-5">
  <div class="col-5">
    <div class="p-3 mb-2">
      <div>
        <strong>Pictures:</strong>

      </div>
      <%if @product.pictures? %>
      <% @product.pictures.each do |p| %>
      <%=image_tag p.url%>
      <% end %>
      <% end%>
    </div>
  </div>
  <div class="col-7">
    <div>
      <p>
        <strong>Name:</strong>
        <%= @product.name %>
      </p>

      <p>
        <strong>Sku:</strong>
        <%= @product.sku %>
      </p>
      <p>
        <strong>Price:</strong>
        <%= @product.price %>
      </p>
      <p>
        <strong>Description:</strong>
        <%= @product.description %>
      </p>

      <p>
        <strong>Meta description:</strong>
        <%= @product.meta_description %>
      </p>

      <p>
        <strong>Meta keywords:</strong>
        <%= @product.meta_keywords %>
      </p>
      <p>
        <strong>Taxons:</strong>
        <%= @product.taxons.pluck(:name).join(",") %>
      </p>

    </div>
  </div>
</div>