<p id="notice"><%= notice %></p>
<% if current_user%>
<h1>Posts</h1>

<table class="table table-bordered table-dark">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col" >Status</th>
      <th colspan="3" >Actions</th>
    </tr>
  </thead>

  <tbody id="post_list">
     <% @posts.each do |post| %>
    <%= render partial: "post",locals: { post: post }  %>
    <%end%>
  </tbody>
</table>

<br>
<%= form_for(@post, remote: true) do |form| %>
 <div class="input-group mb-3">
    <%= form.label :name ,class: "pr-2"%>
    <%= form.text_field :name %>
  </div>

  <div class="input-group mb-3">
    <%= form.label :status , class: "pr-2"%>
    <%= form.text_field :status %>
  </div>
  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
<% end %>



<%# <%= button_to 'New Post', new_post_path,class: "btn btn-success text-white" ,id:"new_post"  %>

