<p id="notice" class = "pt-3"><%= notice %></p>
<% if current_user%>
<h1><%= t ("post") %></h1>

<table class="table table-bordered table-dark">
  <thead>
    <tr>
      <th scope="col"><%= t ("name") %></th>
      <th scope="col" ><%=t ("status") %> </th>
      <th scope="col" ><%=t ("picture") %> </th>
      <th colspan="3" ><%=t ("actions") %></th>
    </tr>
  </thead>

  <tbody id="post_list">
     <% @posts.each do |post| %>
    <%= render partial: "post",locals: { post: post }  %>
    <%end%>
  </tbody>
</table>

<br>
<%= form_for(@post, remote: true) do |form| %>
 <div class="input-group mb-3">
    <%= form.label (t :name) ,class: "pr-2"%>
    <%= form.text_field :name %>
  </div>

  <div class="input-group mb-3">
    <%= form.label (t :status) , class: "pr-2"%>
    <%= form.text_field :status %>
  </div>
   <div class="picture mb-3">
        	<%= form.file_field :picture, accept: "image/jpeg, image/gif, image/png, image/jpg" %>
  </div>
  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
 <h3>Import Post</h3>
 <%= form_tag csv_index_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Upload Post" %>
<% end %>
<% end %>

<script type="text/javascript">
	$("#micropost_picture").bind("change", function(){
    	var size_in_megabytes = this.files(0).size/1024/1024;
        if (size_in_megabytes > 1) {
        	alert("Maximum file size is 1MB. Please choose an other file!");
        }
    });
</script>



<%# <%= button_to 'New Post', new_post_path,class: "btn btn-success text-white" ,id:"new_post"  %>

