<p id="notice"><%= notice %></p>

<p class="p-3 mb-2 bg-primary text-white">
  <strong>Name:</strong>
  <%= @post.name %>
</p>

<p class="p-3 mb-2 bg-success text-white">
  <strong>Status:</strong>
  <%= @post.status %>
</p>

<%= link_to t('edit'), edit_post_path(@post),class: "btn btn-primary text-white" %> 
<%= link_to t('back'), posts_path ,class: "btn btn-primary text-white " %>
