 <%= render 'homes/header'  %>
<div class="row">
  <div class="col-6">
    <div class="p-3 mb-2">
      <div>
        <strong>Pictures:</strong>

      </div>
      <%if @product.pictures? %>
      <% @product.pictures.each do |p| %>
      <%=image_tag p.url%>
      <% end %>
      <% end%>
    </div>
  </div>
  <div class="col-6">
    <div>
      <p>
        <strong>Name:</strong>
        <%= @product.name %>
      </p>

      <p>
        <strong>Sku:</strong>
        <%= @product.sku %>
      </p>
      <p>
        <strong>Price:</strong>
        <%= number_to_currency(@product.price, precision: 0,unit: "₫" ,format: "%n %u") %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @product.description %>
      </p>

      <p>
        <strong>Meta description:</strong>
        <%= @product.meta_description %>
      </p>

      <p>
        <strong>Meta keywords:</strong>
        <%= @product.meta_keywords %>
      </p>

      <p>
        <strong>Variants:</strong>
        <% @product.variants.each do |variant| %>
        <span><%= radio_button_tag variant.sku, variant.id ,false %><%=variant.sku%></span>
        <% end %>
      </p>

    </div>
    <div class = "d-flex">
   <div class="quantity-area clearfix">
											<input type="button" value="-" class="qty-btn quantity-left-minus">
											<input type="text" id="quantity" name="quantity" value="1" min="1" class="quantity-input">
											<input type="button" value="+" class="qty-btn quantity-right-plus">
										</div>
    <div class="cart_area">
      <%= link_to 'Add to Cart',"#",class: "btn btn-warning btn-add-cart" , data: {name: "#{@product.name}", target: "#modal" }  %>
      <%= link_to 'Buy Now',"#" , :class => "btn btn-danger btn-add-cart "%>
    </div>

    </div>
  </div>
</div>